force-app/main/default/flows/Background_Immediate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Status_to_Qualified</name>
        <label>Set Status to Qualified</label>
        <locationX>138</locationX>
        <locationY>3383</locationY>
        <assignmentItems>
            <assignToReference>Loop_Each_Related_Record.Background_Check_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Item_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Record Found is &apos;No&apos; in all screens then update background check status to &apos;Qualified&apos;</description>
        <name>Check_Record_Found_in_all_screens</name>
        <label>Check Record Found in all screens</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Decision_to_get_Qualified_Staff</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Record_Founds_are_NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fingerprint_Record_Found_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOR_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPI_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CH_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Background_Check_Status_to_Qualified</targetReference>
            </connector>
            <label>All Record Founds are NO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for Criminal History Check Date and Initial</description>
        <name>Decision_for_CH_Check_Date_Initials</name>
        <label>Decision for CH Check Date &amp; Initials</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Decision_to_Change_Status_to_Provisional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CH_Record_Found_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CH_Record_Found__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CH_Record_Found__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Criminal_History_Check_Date_Initials</targetReference>
            </connector>
            <label>CH Record Found Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for CPI Check Date and Initial</description>
        <name>Decision_for_CPI_Check_Date_Initials</name>
        <label>Decision for CPI Check Date &amp; Initials</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Decision_for_CH_Check_Date_Initials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPI_Record_Found_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPI_Record_Found__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPI_Record_Found__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CPI_Check_Date_Initials</targetReference>
            </connector>
            <label>CPI Record Found Updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for Fingerprint Check Date and Initial</description>
        <name>Decision_for_Fingerprint_Check_Date_Initials</name>
        <label>Decision for Fingerprint Check Date &amp; Initials</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_for_SOR_Check_Date_Initials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fingerprint_Record_Found_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fingerprint_Record_Found_New__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fingerprint_Record_Found_New__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Fingerprint_Check_Date_Initials</targetReference>
            </connector>
            <label>Fingerprint Record Found updated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision for SOR Check Date and Initial</description>
        <name>Decision_for_SOR_Check_Date_Initials</name>
        <label>Decision for SOR Check Date &amp; Initials</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Decision_for_CPI_Check_Date_Initials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SOR_Record_Found_updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SOR_Record_Found__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOR_Record_Found__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SOR_Check_Date_Initials</targetReference>
            </connector>
            <label>SOR Record Found updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Change_Status_to_Provisional</name>
        <label>Decision to Change Status to Provisional</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Decision_to_update_status_to_Admin_Processing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditions_for_Provisional_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Application_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fingerprint_Record_Found_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_to_Provisional</targetReference>
            </connector>
            <label>Conditions for Provisional Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_get_Qualified_Staff</name>
        <label>Decision to get Qualified Staff</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualified_Staff_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Background_Check_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Records_using_UniqueId</targetReference>
            </connector>
            <label>Qualified Staff Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_update_consent_received_date_and_due_date</name>
        <label>Decision to update consent received date and due date</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_for_Fingerprint_Check_Date_Initials</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consent_form_received</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Background_Check_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consent_Received_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consent_Received_date_and_due_date</targetReference>
            </connector>
            <label>Consent form received</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update Status to Admin Processing when a record found in either of the systems.</description>
        <name>Decision_to_update_status_to_Admin_Processing</name>
        <label>Decision to update status to Admin Processing</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Check_Record_Found_in_all_screens</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Status_to_Admin_Processing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fingerprint_Record_Found_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPI_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SOR_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CH_Record_Found__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Background_Check_Status_to_Admin_Processing</targetReference>
            </connector>
            <label>Update Status to Admin Processing</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConsentDueDate</name>
        <dataType>Date</dataType>
        <expression>{!TodayDate} + 45</expression>
    </formulas>
    <interviewLabel>Background Immediate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Background Immediate Flow</label>
    <loops>
        <name>Loop_Each_Related_Record</name>
        <label>Loop Each Related Record</label>
        <locationX>50</locationX>
        <locationY>3263</locationY>
        <collectionReference>Get_Related_Records_using_UniqueId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Qualified</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get similar background check record with same unique id</description>
        <name>Get_Related_Records_using_UniqueId</name>
        <label>Get Related Records using UniqueId</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Each_Related_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Background_Check_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unique_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Unique_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Background_Check__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Background_Check_Status_to_Admin_Processing</name>
        <label>Update Background Check Status to Admin Processing</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Check_Record_Found_in_all_screens</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Check_Status__c</field>
            <value>
                <stringValue>Admin Processing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>As record found is &apos;No&apos; in all systems we update the background check status to qualified</description>
        <name>Update_Background_Check_Status_to_Qualified</name>
        <label>Update Background Check Status to Qualified</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <connector>
            <targetReference>Decision_to_get_Qualified_Staff</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Check_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consent_Received_date_and_due_date</name>
        <label>Update Consent Received date and due date</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Decision_for_Fingerprint_Check_Date_Initials</targetReference>
        </connector>
        <inputAssignments>
            <field>Consent_Due_Date__c</field>
            <value>
                <elementReference>ConsentDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consent_Received_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating triggering record</description>
        <name>Update_CPI_Check_Date_Initials</name>
        <label>Update CPI Check Date &amp; Initials</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Decision_for_CH_Check_Date_Initials</targetReference>
        </connector>
        <inputAssignments>
            <field>CPI_Check_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPI_Initials__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating triggering record</description>
        <name>Update_Criminal_History_Check_Date_Initials</name>
        <label>Update Criminal History Check Date &amp; Initials</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Decision_to_Change_Status_to_Provisional</targetReference>
        </connector>
        <inputAssignments>
            <field>CH_Check_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CH_Initials__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Current_Item_Record</name>
        <label>Update Current Item Record</label>
        <locationX>138</locationX>
        <locationY>3503</locationY>
        <connector>
            <targetReference>Loop_Each_Related_Record</targetReference>
        </connector>
        <inputReference>Loop_Each_Related_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating triggering record</description>
        <name>Update_Fingerprint_Check_Date_Initials</name>
        <label>Update Fingerprint Check Date &amp; Initials</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Decision_for_SOR_Check_Date_Initials</targetReference>
        </connector>
        <inputAssignments>
            <field>Fingerprint_Check_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fingerprint_Initials__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updating triggering record</description>
        <name>Update_SOR_Check_Date_Initials</name>
        <label>Update SOR Check Date &amp; Initials</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Decision_for_CPI_Check_Date_Initials</targetReference>
        </connector>
        <inputAssignments>
            <field>SOR_Check_Date__c</field>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SOR_Initials__c</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_to_Provisional</name>
        <label>Update Status to Provisional</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Decision_to_update_status_to_Admin_Processing</targetReference>
        </connector>
        <inputAssignments>
            <field>Background_Check_Status__c</field>
            <value>
                <stringValue>Provisional</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_to_update_consent_received_date_and_due_date</targetReference>
        </connector>
        <object>Background_Check__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
