force-app/main/default/flows/Background_Check_Renewal_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <formulas>
        <name>DueDateforTask</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+ 7</expression>
    </formulas>
    <interviewLabel>Background Check Renewal Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Background Check Renewal Task</label>
    <loops>
        <name>Looping_Through_Individual_Record</name>
        <label>Looping Through Individual Record</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_all_Role_Record_with_Today_s_Expiry_dat</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Renewal_Task</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Renewal_Task</name>
        <label>Create Renewal Task</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <connector>
            <targetReference>Looping_Through_Individual_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateforTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Looping_Through_Individual_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Background Check Renewal Due</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Looping_Through_Individual_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get all Role records with expiry date as today so that we can create a task</description>
        <name>Get_all_Role_Record_with_Today_s_Expiry_dat</name>
        <label>Role Record with expiry date as today</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looping_Through_Individual_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_BCI_5_Year_Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TodayDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CLQ_Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Background_Queue_Record</name>
        <label>Get Background Queue Record</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Role_Record_with_Today_s_Expiry_dat</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Background Check Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Background_Queue_Record</targetReference>
        </connector>
        <object>CLQ_Role__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-08-24</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
