force-app/main/default/flows/calcTotalRiskPointsOnProgram.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignTotalRiskPoints</name>
        <label>AssignTotalRiskPoints</label>
        <locationX>845</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>TotalRiskPoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInspection.CLQ_Total_Risk_Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalLRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInspection.CLQ_LRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalMRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInspection.CLQ_MRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalSRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjInspection.CLQ_SRNC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopInspections</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CalcRiskTotal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>calcTotalRiskPointsOnProgram</label>
    <loops>
        <name>loopInspections</name>
        <label>loopInspections</label>
        <locationX>563</locationX>
        <locationY>300</locationY>
        <assignNextValueToReference>sobjInspection</assignNextValueToReference>
        <collectionReference>collInspections</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTotalRiskPoints</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProgram</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>oInspections</name>
        <label>oInspections</label>
        <locationX>575</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopInspections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Inspection_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Pre-license</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProgramId</elementReference>
            </value>
        </filters>
        <object>CLQ_Inspection__c</object>
        <outputReference>collInspections</outputReference>
        <queriedFields>CLQ_Total_Risk_Points__c</queriedFields>
        <queriedFields>CLQ_LRNC__c</queriedFields>
        <queriedFields>CLQ_MRNC__c</queriedFields>
        <queriedFields>CLQ_SRNC__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProgram</name>
        <label>UpdateProgram</label>
        <locationX>553</locationX>
        <locationY>491</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vProgramId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLQ_LRNC__c</field>
            <value>
                <elementReference>TotalLRNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_MRNC__c</field>
            <value>
                <elementReference>TotalMRNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_SRNC__c</field>
            <value>
                <elementReference>TotalSRNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Total_Points_Assessed__c</field>
            <value>
                <elementReference>TotalRiskPoints</elementReference>
            </value>
        </inputAssignments>
        <object>CLQ_Program__c</object>
    </recordUpdates>
    <startElementReference>oInspections</startElementReference>
    <status>Draft</status>
    <variables>
        <name>collInspections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Inspection__c</objectType>
    </variables>
    <variables>
        <name>sobjInspection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Inspection__c</objectType>
    </variables>
    <variables>
        <name>TotalLRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalMRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalRiskPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalSRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>vProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
