force-app/main/default/flows/CLQ_CalcRiskpoinsonRules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>calcTotalPoints</name>
        <label>calcTotalPoints</label>
        <locationX>448</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>varLRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_LRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_MRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSRNC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_SRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vartotalpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_LRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vartotalpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_MRNC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vartotalpoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjFinding.CLQ_SRNC__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFindings</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CLQ_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLQ_CalcRiskpoinsonRules</label>
    <loops>
        <name>LoopFindings</name>
        <label>LoopFindings</label>
        <locationX>219</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>sobjFinding</assignNextValueToReference>
        <collectionReference>allfindings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>calcTotalPoints</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRulesinspected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ofindings</name>
        <label>ofindings</label>
        <locationX>218</locationX>
        <locationY>104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFindings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Rules_Inspected__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRulesId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CLQ_Rules_Inspected__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>CLQ_Findings__c</object>
        <outputReference>allfindings</outputReference>
        <queriedFields>CLQ_Non_Compliance_points__c</queriedFields>
        <queriedFields>CLQ_LRNC__c</queriedFields>
        <queriedFields>CLQ_MRNC__c</queriedFields>
        <queriedFields>CLQ_SRNC__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateRulesinspected</name>
        <label>updateRulesinspected</label>
        <locationX>222</locationX>
        <locationY>462</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRulesId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLQ_LRNC__c</field>
            <value>
                <elementReference>varLRNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_MRNC__c</field>
            <value>
                <elementReference>varMRNC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Risk_Points__c</field>
            <value>
                <elementReference>vartotalpoints</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_SRNC__c</field>
            <value>
                <elementReference>varSRNC</elementReference>
            </value>
        </inputAssignments>
        <object>CLQ_Rules_Inspected__c</object>
    </recordUpdates>
    <startElementReference>ofindings</startElementReference>
    <status>Active</status>
    <variables>
        <name>allfindings</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Findings__c</objectType>
    </variables>
    <variables>
        <description>Single Finding</description>
        <name>sobjFinding</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Findings__c</objectType>
    </variables>
    <variables>
        <name>varLRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRulesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSRNC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vartotalpoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
