force-app/main/default/flows/CLQ_Case_Custom_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Complaint_Email_Alert_to_Approver_Custom</name>
        <label>Complaint Email Alert to Approver Custom</label>
        <locationX>50</locationX>
        <locationY>2279</locationY>
        <actionName>CLQ_Case_Custom__c.CLQ_ODE_Complaint_Email_Alert_to_Approver_Custom</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Assigned_to_Email_on_Case_Custom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Approver_Custom</name>
        <label>Email Alert to Approver Custom</label>
        <locationX>50</locationX>
        <locationY>1823</locationY>
        <actionName>CLQ_Case_Custom__c.CLQ_JFS_Complaint_Alert_to_Approver_Custom</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ODE_Complaint_Email_Alert_to_Approver_Custom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Request_Rejected_by_Approver_Custom_Email_Alert</name>
        <label>Request Rejected by Approver Custom Email Alert</label>
        <locationX>50</locationX>
        <locationY>4655</locationY>
        <actionName>CLQ_Case_Custom__c.Request_Rejected_by_Approver_Custom</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Complete_Allegation_Review_Date_Custom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Review_Complaint_Report_Custom</name>
        <label>Review Complaint Report Custom</label>
        <locationX>50</locationX>
        <locationY>1703</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Email_Alert_to_Approver_Custom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>caseSubmittedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Review Complaint Report Custom</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Review_Complaint_Report_Custom_Task</name>
        <label>Review Complaint Report Custom Task</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Complaint_Email_Alert_to_Approver_Custom</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>caseSubmittedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Review Complaint Report Custom</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Alleged_Ops_ComplAllegedOpsCompletedCustometed_Custom</name>
        <label>Alleged Ops Completed Custom</label>
        <locationX>182</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Alleged_Ops_Submitted_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alleged_Ops_Completed_Custom_outcome</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Case_Custom_RTName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alleged Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Case_Custom_RTName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alleged Ops Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Alleged_Ops_Completed</targetReference>
            </connector>
            <label>Alleged Ops Completed Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Alleged_Ops_Submitted_Custom</name>
        <label>Alleged Ops Submitted Custom</label>
        <locationX>182</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>CLQ_Complaint_Submitted_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Alleged_Ops_Submitted_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Alleged_Ops_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alleged Ops Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Alleged_Ops_Submitted</targetReference>
            </connector>
            <label>Alleged Ops Submitted Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CLQ_Check_for_Change_of_Status_Custom</name>
        <label>CLQ Check for Change of Status Custom</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>CLQ_JFS_Complaint_Email_Alert_to_Approver_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Check_for_Change_of_Status_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CLQ_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_Date_Custom</targetReference>
            </connector>
            <label>CLQ Check for Change of Status Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CLQ_Complaint_Submitted_Custom</name>
        <label>CLQ_Complaint Submitted Custom</label>
        <locationX>182</locationX>
        <locationY>3743</locationY>
        <defaultConnector>
            <targetReference>Enforcement_Submitted_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Complaint_Submitted_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complaint_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Complaint_Submitted</targetReference>
            </connector>
            <label>CLQ_Complaint Submitted Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CLQ_Enforcement_Suspension_Custom</name>
        <label>CLQ - Enforcement Suspension Custom</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>CLQ_Incident_Injury_Illness_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Enforcement_Suspension_Custom_outcome</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CLQ_Enforcement_Suspension_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enforcement Suspension Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Help Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Specialist</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Profile_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType_Enforcement_Suspension_Submitted</targetReference>
            </connector>
            <label>CLQ - Enforcement Suspension Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CLQ_Incident_Injury_Illness_Custom</name>
        <label>CLQ - Incident / Injury / Illness Custom</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>CLQ_Check_for_Change_of_Status_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Incident_Injury_Illness_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Incident_Injury_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incident Injury Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecordType_Incident_Injury_Submitted</targetReference>
            </connector>
            <label>CLQ - Incident / Injury / Illness Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>CLQ_JFS_Complaint_Email_Alert_to_Approver_Custom</name>
        <label>CLQ JFS Complaint Email Alert to Approver Custom</label>
        <locationX>182</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>ODE_Complaint_Email_Alert_to_Approver_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_JFS_Complaint_Email_Alert_to_Approver_Custom_outcome</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4) AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Care Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type A Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type B Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complaint_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Complaint_Report_Custom</targetReference>
            </connector>
            <label>CLQ JFS Complaint Email Alert to Approver Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enforcement_Submitted_Custom</name>
        <label>Enforcement Submitted Custom</label>
        <locationX>182</locationX>
        <locationY>4199</locationY>
        <defaultConnector>
            <targetReference>Request_Rejected_by_Approver_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enforcement_Submitted_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Enforcement_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enforcement Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enforcement_Submitted_RT_Custom</targetReference>
            </connector>
            <label>Enforcement Submitted Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>ODE_Complaint_Email_Alert_to_Approver_Custom</name>
        <label>ODE Complaint Email Alert to Approver Custom</label>
        <locationX>182</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Update_Assigned_to_Email_on_Case_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ODE_Complaint_Email_Alert_to_Approver_Custom_outcome</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 ) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Age Child Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complaint_Submitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Complaint_Report_Custom_Task</targetReference>
            </connector>
            <label>ODE Complaint Email Alert to Approver Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Rejected_by_Approver_Custom</name>
        <label>Request Rejected by Approver Custom</label>
        <locationX>182</locationX>
        <locationY>4535</locationY>
        <defaultConnector>
            <targetReference>Reset_Complete_Allegation_Review_Date_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Rejected_by_Approver_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CLQ_Assigned_to_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Return to Specialist/Reviewer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Rejected_by_Approver_Custom_Email_Alert</targetReference>
            </connector>
            <label>Request Rejected by Approver Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Complete_Allegation_Review_Date_Custom</name>
        <label>Reset Complete Allegation Review Date Custom</label>
        <locationX>182</locationX>
        <locationY>4871</locationY>
        <defaultConnector>
            <targetReference>Set_Complete_Allegation_Review_Date_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Complete_Allegation_Review_Date_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complete_Allegation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Complete_Allegation_Review_Date</targetReference>
            </connector>
            <label>Reset Complete Allegation Review Date Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Complete_Inspection_Date_Custom</name>
        <label>Reset Complete Inspection Date Custom</label>
        <locationX>182</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>Set_Complete_Inspection_Date_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reset_Complete_Inspection_Date_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complete_Inspection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Complete_Inspection_Date_Custom_Update</targetReference>
            </connector>
            <label>Reset Complete Inspection Date Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Complete_Allegation_Review_Date_Custom</name>
        <label>Set Complete Allegation Review Date Custom</label>
        <locationX>182</locationX>
        <locationY>5207</locationY>
        <defaultConnector>
            <targetReference>Reset_Complete_Inspection_Date_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Complete_Allegation_Review_Date_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complete_Allegation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complete_Allegation_Review_Date_Cust</targetReference>
            </connector>
            <label>Set Complete Allegation Review Date Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Complete_Inspection_Date_Custom</name>
        <label>Set Complete Inspection Date Custom</label>
        <locationX>182</locationX>
        <locationY>5879</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Complete_Inspection_Date_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Complete_Inspection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Complete_Inspection_Date_Custom_Update</targetReference>
            </connector>
            <label>Set Complete Inspection Date Custom outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Assigned_to_Email_on_Case_Custom</name>
        <label>Update Assigned to Email on Case Custom</label>
        <locationX>182</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Alleged_Ops_ComplAllegedOpsCompletedCustometed_Custom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Assigned_to_Email_on_Case_Custom_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_Email_Custom</targetReference>
            </connector>
            <label>Update Assigned to Email on Case Custom outcome</label>
        </rules>
    </decisions>
    <formulas>
        <name>caseSubmittedDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CLQ_Submitted_Date_Incident__c} +7</expression>
    </formulas>
    <interviewLabel>clq_case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CLQ_Case_Custom_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Fetch Record Type of Alleged Ops Completed</description>
        <name>Record_Type_Alleged_Ops_Completed</name>
        <label>Record Type Alleged Ops Completed</label>
        <locationX>50</locationX>
        <locationY>2951</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alleged_Ops_Completed_RT_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alleged Ops Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Case_Custom__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Record_Type_Alleged_Ops_Submitted</name>
        <label>Record Type Alleged Ops Submitted</label>
        <locationX>50</locationX>
        <locationY>3407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alleged_Ops_Submitted_RT_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alleged Ops Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Case_Custom__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Record Type of Complaint Submitted</description>
        <name>Record_Type_Complaint_Submitted</name>
        <label>Record Type Complaint Submitted</label>
        <locationX>50</locationX>
        <locationY>3863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Complaint_Submitted_RT_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Complaint Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Case_Custom__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Record Type of Enforcement Suspension Submitted</description>
        <name>RecordType_Enforcement_Suspension_Submitted</name>
        <label>RecordType_Enforcement_Suspension_Submitted</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enforcement_Suspension_RT_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Enforcement Suspension Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Case_Custom__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch Record Type of Incident Injury Submitted</description>
        <name>RecordType_Incident_Injury_Submitted</name>
        <label>RecordType_Incident_Injury_Submitted</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Incident_Injury_Submitted_RT_Custom</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Incident Injury Submitted</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Case_Custom__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Alleged_Ops_Completed_RT_Custom</name>
        <label>Alleged Ops Completed RT Custom</label>
        <locationX>50</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Alleged_Ops_Submitted_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Alleged_Ops_Completed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Alleged_Ops_Submitted_RT_Custom</name>
        <label>Alleged Ops Submitted RT Custom</label>
        <locationX>50</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>CLQ_Complaint_Submitted_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Alleged_Ops_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Complaint_Submitted_RT_Custom</name>
        <label>Complaint Submitted RT Custom</label>
        <locationX>50</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Enforcement_Submitted_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Complaint_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Enforcement_Submitted_RT_Custom</name>
        <label>Enforcement Submitted RT Custom</label>
        <locationX>50</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Request_Rejected_by_Approver_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Enforcement_Suspension_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Enforcement_Suspension_RT_Custom</name>
        <label>Enforcement Suspension RT Custom</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>CLQ_Incident_Injury_Illness_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Enforcement_Suspension_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Incident_Injury_Submitted_RT_Custom</name>
        <label>Incident Injury Submitted RT Custom</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>CLQ_Check_for_Change_of_Status_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType_Incident_Injury_Submitted.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Complete_Allegation_Review_Date</name>
        <label>Reset Complete Allegation Review Date</label>
        <locationX>50</locationX>
        <locationY>4991</locationY>
        <connector>
            <targetReference>Set_Complete_Allegation_Review_Date_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Completed_Allegation_Review__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Complete_Inspection_Date_Custom_Update</name>
        <label>Reset Complete Inspection Date Custom Update</label>
        <locationX>50</locationX>
        <locationY>5663</locationY>
        <connector>
            <targetReference>Set_Complete_Inspection_Date_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Complete_Inspection_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Complete_Allegation_Review_Date_Cust</name>
        <label>Set Complete Allegation Review Date Cust</label>
        <locationX>50</locationX>
        <locationY>5327</locationY>
        <connector>
            <targetReference>Reset_Complete_Inspection_Date_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Completed_Allegation_Review__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Complete_Inspection_Date_Custom_Update</name>
        <label>Set Complete Inspection Date Custom Update</label>
        <locationX>50</locationX>
        <locationY>5999</locationY>
        <inputAssignments>
            <field>CLQ_Complete_Inspection_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_Email_Custom</name>
        <label>Update Approver Email Custom</label>
        <locationX>50</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Alleged_Ops_ComplAllegedOpsCompletedCustometed_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Approver_s_Email__c</field>
            <value>
                <elementReference>$Record.CLQ_Assigned_To__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Assigned_to_Email__c</field>
            <value>
                <elementReference>$Record.CLQ_Assigned_To__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Date_Custom</name>
        <label>Update Status Date Custom</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>CLQ_JFS_Complaint_Email_Alert_to_Approver_Custom</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Status_Date__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CLQ_Enforcement_Suspension_Custom</targetReference>
        </connector>
        <object>CLQ_Case_Custom__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
