force-app/main/default/flows/CLQ_Email_Alert_JFS_Program_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>postTargetUserType</name>
            <value>
                <stringValue>REFERENCE</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;Process Builders are deactivated by Salesforce Admin for scheduled maintenance, please try after some time. No action needed.&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>ExecuteCustomSettingAction</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Process Builders are deactivated by Salesforce Admin for scheduled maintenance, please try after some time. No action needed.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.LastModifiedBy.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Portal Withdrawn Status Alert</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>CLQ_GlobalWebserviceUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>templateAndRecordID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>templateAndRecordID</name>
            <value>
                <elementReference>formula_4_myRule_3_A1_2857176995</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Not_Complete_to_Withdrawn_status_clone</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A2</name>
        <label>Send Portal Withdrawn Status Alert Clone</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <actionName>CLQ_Program_Transaction__c.Not_Complete_to_Withdrawn_status_clone</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Send Email</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Send Internal Withdrawn Status Alert</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <actionName>CLQ_GlobalWebserviceUtility</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>templateAndRecordID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>templateAndRecordID</name>
            <value>
                <elementReference>formula_7_myRule_6_A1_1546874098</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Withdraw_Status_for_program_transaction</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Withdraw Status COC</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>CLQ_Program_Transaction__c.Withdraw_Status_for_program_transaction</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>ExecuteCustomSetting</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Close Deferral task</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>NotCompleteToWithdrawnStatus-Portal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>WithdrawnStatus-Internal</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Withdraw Status COC Amendment</label>
        </rules>
    </decisions>
    <description>Updating the Verbiage to the Custom Setting Step.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;SUTQ_Email_Registration_ExternalUser_Withdraw&apos;+&apos;|&apos;+[CLQ_Program_Transaction__c].Id +&apos;|&apos;+&apos;CLQ_Program_Transaction__c&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_2857176995</name>
        <dataType>String</dataType>
        <expression>&apos;SUTQ_Email_Registration_ExternalUser_Withdraw&apos;+&apos;|&apos;+{!myVariable_current.Id} +&apos;|&apos;+&apos;CLQ_Program_Transaction__c&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&apos;SUTQ_Email_InternalUser_Withdraw_Reg_Clone&apos;+&apos;|&apos;+[CLQ_Program_Transaction__c].Id +&apos;|&apos;+&apos;CLQ_Program_Transaction__c&apos;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_1546874098</name>
        <dataType>String</dataType>
        <expression>&apos;SUTQ_Email_InternalUser_Withdraw_Reg_Clone&apos;+&apos;|&apos;+{!myVariable_current.Id} +&apos;|&apos;+&apos;CLQ_Program_Transaction__c&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT($Setup.ExecutionControlSetting__c.Run_Process_Builder__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!$Setup.ExecutionControlSetting__c.Run_Process_Builder__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),ISCHANGED([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c),ISPICKVAL([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c , &apos;Under Reviewer Review&apos;) , ISPICKVAL(PRIORVALUE([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c ),&apos;Deferral&apos;),OR([CLQ_Program_Transaction__c].RecordType.Name =&apos;SUTQ - Expedited Registration&apos;,[CLQ_Program_Transaction__c].RecordType.Name =&apos;SUTQ - Change of Owner Registration&apos;,[CLQ_Program_Transaction__c].RecordType.Name =&apos;SUTQ - Reinstate Rating after Temporary Closure&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),ISCHANGED({!myVariable_current.CLQ_Transaction_Status__c}),ISPICKVAL({!myVariable_current.CLQ_Transaction_Status__c} , &apos;Under Reviewer Review&apos;) , ISPICKVAL(PRIORVALUE({!myVariable_current.CLQ_Transaction_Status__c} ),&apos;Deferral&apos;),OR({!myVariable_current.RecordType.Name} =&apos;SUTQ - Expedited Registration&apos;,{!myVariable_current.RecordType.Name} =&apos;SUTQ - Change of Owner Registration&apos;,{!myVariable_current.RecordType.Name} =&apos;SUTQ - Reinstate Rating after Temporary Closure&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),ISCHANGED([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c), ISPICKVAL(PRIORVALUE([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c),&apos;Not Complete&apos;), ISPICKVAL([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c,&apos;Withdraw&apos;),[CLQ_Program_Transaction__c].RecordType.Name!=&apos;Pre School&apos;,[CLQ_Program_Transaction__c].RecordType.Name!=&apos;School Age Child Care&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),ISCHANGED({!myVariable_current.CLQ_Transaction_Status__c}), ISPICKVAL(PRIORVALUE({!myVariable_current.CLQ_Transaction_Status__c}),&apos;Not Complete&apos;), ISPICKVAL({!myVariable_current.CLQ_Transaction_Status__c},&apos;Withdraw&apos;),{!myVariable_current.RecordType.Name}!=&apos;Pre School&apos;,{!myVariable_current.RecordType.Name}!=&apos;School Age Child Care&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),ISCHANGED([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c), NOT(ISPICKVAL(PRIORVALUE([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c),&apos;Not Complete&apos;)), ISPICKVAL([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c,&apos;Withdraw&apos;),
OR([CLQ_Program_Transaction__c].RecordType.Name =&apos;SUTQ - Initial Registration&apos;,[CLQ_Program_Transaction__c].RecordType.Name =&apos;SUTQ - Ongoing Registration&apos;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),ISCHANGED({!myVariable_current.CLQ_Transaction_Status__c}), NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.CLQ_Transaction_Status__c}),&apos;Not Complete&apos;)), ISPICKVAL({!myVariable_current.CLQ_Transaction_Status__c},&apos;Withdraw&apos;),
OR({!myVariable_current.RecordType.Name} =&apos;SUTQ - Initial Registration&apos;,{!myVariable_current.RecordType.Name} =&apos;SUTQ - Ongoing Registration&apos;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(NOT(ISNEW()),ISCHANGED([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c), NOT(ISPICKVAL(PRIORVALUE([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c),&apos;Not Complete&apos;)), ISPICKVAL([CLQ_Program_Transaction__c].CLQ_Transaction_Status__c,&apos;Withdraw&apos;),
[CLQ_Program_Transaction__c].RecordType.Name =&apos;Amendment- FCC - Change of Capacity / Space&apos;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(NOT(ISNEW()),ISCHANGED({!myVariable_current.CLQ_Transaction_Status__c}), NOT(ISPICKVAL(PRIORVALUE({!myVariable_current.CLQ_Transaction_Status__c}),&apos;Not Complete&apos;)), ISPICKVAL({!myVariable_current.CLQ_Transaction_Status__c},&apos;Withdraw&apos;),
{!myVariable_current.RecordType.Name} =&apos;Amendment- FCC - Change of Capacity / Space&apos;)</expression>
    </formulas>
    <interviewLabel>CLQ_Email_Alert_JFS_Program_Transaction-9_InterviewLabel</interviewLabel>
    <label>CLQ Email Alert - JFS Program Transaction</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>CLQ_Program_Transaction__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CLQ_Program_Transaction__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Program_Transaction__c</objectType>
    </variables>
</Flow>
