force-app/main/default/flows/Facility_Schedule_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Facility_Schedule_Decision</name>
        <label>Facility Schedule Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Facility_Schedule_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nullify_Prior_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Transaction__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nullify_Prior_Values_Action</targetReference>
            </connector>
            <label>Nullify Prior Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>Facility_Schedule_Decision_0</name>
        <label>Facility Schedule Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Facility_Schedule_Owner_to_Community_Queue_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Community_Queue_0</targetReference>
            </connector>
            <label>Set Facility Schedule Owner to Community Queue</label>
        </rules>
    </decisions>
    <interviewLabel>Facility Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Facility Schedule Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Community_Queue_0</name>
        <label>Get Community Queue</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_for_Facility_Schedule_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Nullify_Prior_Values_Action</name>
        <label>Nullify Prior Values Action</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Facility_Schedule_Decision_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Prior_Days_Of_Operation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Funding_Source__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Months_Of_Operation__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Program_Schedule_Name__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Time_1_End__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Time_1_Start__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Time_2_End__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Time_2_Start__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_for_Facility_Schedule_0</name>
        <label>Update Owner for Facility Schedule</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Community_Queue_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Facility_Schedule_Decision</targetReference>
        </connector>
        <object>CLQ_Facility_Schedule__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
