force-app/main/default/flows/GCLIC_PT_Complete_Document_Review.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trigger_Notifcation_for_SH</name>
        <label>Trigger Notifcation for SH</label>
        <locationX>1004</locationX>
        <locationY>574</locationY>
        <actionName>CLQ_NotifyApplicant</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstProgramTransactionId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_iDocCount</name>
        <label>Assign iDocCount</label>
        <locationX>791</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>iDocCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Records_without_review</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Incomplete_Docs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Incomplete_Docs</name>
        <label>Check for Incomplete Docs</label>
        <locationX>809</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Show_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Review_Incomplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iDocCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Review Incomplete</label>
        </rules>
    </decisions>
    <interviewLabel>GCLIC PT Complete Document Review {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Complete Document Review</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Records_without_review</name>
        <label>Get Records without review</label>
        <locationX>588</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_iDocCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Program_Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CLQ_Document_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Document_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Document_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Document_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not Verified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CLQ_Transaction_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error_Screen</label>
        <locationX>582</locationX>
        <locationY>391</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Document Review Incomplete&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please review all the documents and click Complete Document Review button&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Success</name>
        <label>Show_Success</label>
        <locationX>820</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Trigger_Notifcation_for_SH</targetReference>
        </connector>
        <fields>
            <name>Show_SuccessScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Review Complete. &lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Please click Next to Continue&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Records_without_review</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>iDocCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
