force-app/main/default/flows/Inspection_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DferralDueDate_0</name>
        <label>DferralDueDate</label>
        <locationX>50</locationX>
        <locationY>2591</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Inspection_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Record.CLQ_Insp_DeferralDueDate__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>DferralDueDate</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Inspection_Decision</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Revise_Visit_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Visit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Visit Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Revise_Visit_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Revise_Visit_Status</targetReference>
            </connector>
            <label>CLQ Revise Visit Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Inspection_Fields_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Licensing_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Revise_Visit_Status_Action_0</targetReference>
            </connector>
            <label>CLQ Update Inspection Fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Inspection_Record_Type_to_Day_Camp_Audit_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.CLQ_Create_Day_Camp_Audit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Day_Camp_0</targetReference>
            </connector>
            <label>CLQ_Update Inspection Record Type to Day Camp Audit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Submitted_for_Approval_once_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Inspection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Approver Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Submitted_Once_flag_to_true_0</targetReference>
            </connector>
            <label>Check Submitted for Approval once</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Send_Report_To_Value_JFS_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pre School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>School Age Child Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Inspection_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical Assistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Send_Report_To_Value_JFS_Action_0</targetReference>
            </connector>
            <label>Default Send Report To Value JFS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0_0_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>2135</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Default_Send_Report_To_Value_ODE_0_0_0_0_0</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Age Child Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Inspection_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical Assistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Send_Report_To_0</targetReference>
            </connector>
            <label>Default Send Report To Value ODE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0_0_0_0_0_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>2471</locationY>
        <defaultConnector>
            <targetReference>Inspection_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaskCreate_DeferralStatus_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Inspection_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DferralDueDate_0</targetReference>
            </connector>
            <label>TaskCreate_DeferralStatus</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inspection_Decision_0_0_0_0_0_0_0_0_0</name>
        <label>Inspection Decision</label>
        <locationX>182</locationX>
        <locationY>2807</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Program_Site_IRN_on_Inspection_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>(1 OR 2)  AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inspection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onsite Visit Record Type</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Inspection_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Amendment - change of location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Site_IRN_on_Inspection_0</targetReference>
            </connector>
            <label>Update Program Site IRN on Inspection</label>
        </rules>
    </decisions>
    <interviewLabel>Inspection Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inspection Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Record_Type_Day_Camp_0</name>
        <label>Record Type Day Camp</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLQ_Inspection_Record_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Day Camp</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Inspection__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Check_Submitted_Once_flag_to_true_0</name>
        <label>Check Submitted Once flag to true</label>
        <locationX>50</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Inspection_Decision_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Submitted_for_Approval_Once__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Inspection_Record_Type_0</name>
        <label>CLQ_Inspection Record Type</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Inspection_Decision_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Record_Type_Day_Camp_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Revise_Visit_Status_Action_0</name>
        <label>CLQ Revise Visit Status Action</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Inspection_Decision_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Program_s_Email_Address__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Program_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Program_s_Licensing_Specialist__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Licensing_Specialist__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Send_Report_To_0</name>
        <label>Default Send Report To</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Inspection_Decision_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Send_Report_To__c</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Default_Send_Report_To_Value_JFS_Action_0</name>
        <label>Default Send Report To Value JFS Action</label>
        <locationX>50</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Inspection_Decision_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Send_Report_To__c</field>
            <value>
                <stringValue>CDCWeb &amp; Portal</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Revise_Visit_Status</name>
        <label>Reset Revise Visit Status</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Inspection_Decision_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Revise_Visit_Status__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Visit_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_IRN_on_Inspection_0</name>
        <label>Update Site IRN on Inspection</label>
        <locationX>50</locationX>
        <locationY>2927</locationY>
        <inputAssignments>
            <field>CLQ_Site_IRN__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_BIRN__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Inspection_Decision</targetReference>
        </connector>
        <object>CLQ_Inspection__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
