force-app/main/default/flows/PA_CLQ_ODE_Close_the_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ODE_Application_is_Closed</name>
        <label>ODE Application is Closed</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>CLQ_Program_Transaction__c.ODE_Application_is_Closed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Transaction_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>PA CLQ ODE Close the Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PA CLQ ODE Close the Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Transaction_Status</name>
        <label>Update Transaction Status</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Closed by System</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND ( 2 OR 3 ) AND ( 4 OR 5 )</filterLogic>
        <filters>
            <field>Submission_Date1__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Transaction_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Transaction_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Program_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>School Age Child Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Program_Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre School</stringValue>
            </value>
        </filters>
        <object>CLQ_Program_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X395_Days_After_Program_Application_Submission_Date</name>
            <connector>
                <targetReference>ODE_Application_is_Closed</targetReference>
            </connector>
            <label>395 Days After Program Application: Submission Date</label>
            <offsetNumber>395</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Submission_Date1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
