force-app/main/default/flows/Program_Application_Immediate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Day_Camp_IA_Submitted_OM</name>
        <label>Day Camp IA Submitted OM</label>
        <locationX>50</locationX>
        <locationY>7319</locationY>
        <actionName>CLQ_Program_Transaction__c.Day_Camp_IA_Submitted_OM</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Application_Decision_21</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>ODE_Transaction_Resubmitted</name>
        <label>ODE Transaction Resubmitted</label>
        <locationX>50</locationX>
        <locationY>8663</locationY>
        <actionName>CLQ_Program_Transaction__c.CLQ_ODE_Transaction_Resubmitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_25</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ODJFS_ODE_COL_Approved_OM_0</name>
        <label>ODJFS/ODE COL Approved OM</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <actionName>CLQ_Program_Transaction__c.ODJFS_ODE_COL_Approved_OM</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>ODJFS_ODE_IA_Approved_OM_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>ODJFS_ODE_IA_Approved_OM_0</name>
        <label>ODJFS/ODE IA Approved OM</label>
        <locationX>50</locationX>
        <locationY>2375</locationY>
        <actionName>CLQ_Program_Transaction__c.ODJFS_ODE_IA_Approved_OM</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Outbound_Message_When_PT_in_Deferral</name>
        <label>Outbound Message When PT in Deferral</label>
        <locationX>50</locationX>
        <locationY>9671</locationY>
        <actionName>CLQ_Program_Transaction__c.Outbound_Message_When_PT_in_Deferral</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_28</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_COO_Denied</name>
        <label>SUTQ Email - COO Denied</label>
        <locationX>50</locationX>
        <locationY>9335</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_COO_Denied</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_27</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_COO_Rated</name>
        <label>SUTQ Email - COO Rated</label>
        <locationX>50</locationX>
        <locationY>8999</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_COO_Rated</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_26</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_Expedited_Rated</name>
        <label>SUTQ Email - Expedited Rated</label>
        <locationX>50</locationX>
        <locationY>10007</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_Expedited_Rated</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_29</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_Expedited_Rating_Denied</name>
        <label>SUTQ Email - Expedited Rating Denied</label>
        <locationX>50</locationX>
        <locationY>10343</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_Expedited_Rating_Denied</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_30</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_RR_Denied</name>
        <label>SUTQ Email - RR Denied</label>
        <locationX>50</locationX>
        <locationY>11015</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_RR_Denied</actionName>
        <actionType>outboundMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>SUTQ_Email_RR_Rated</name>
        <label>SUTQ Email - RR Rated</label>
        <locationX>50</locationX>
        <locationY>10679</locationY>
        <actionName>CLQ_Program_Transaction__c.SUTQ_Email_RR_Rated</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_31</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Zero_Transaction_Documents</name>
        <label>Zero Transaction Documents</label>
        <locationX>50</locationX>
        <locationY>7991</locationY>
        <actionName>CLQ_Program_Transaction__c.Zero_Transaction_Documents</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Applicaton_Decision_23</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Program_Application_Decision</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JFS_Update_Registration_Status_when_AR_is_YES_for_OOS_Regi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration - Out of State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approve_Registration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Registration_Status_To_Approved</targetReference>
            </connector>
            <label>CLQ JFS Update Registration Status when AR is YES for OOS Registration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Temporary_Closure_of_License_Update_fields_0</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND ( 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Closure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Temporary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Closure_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Permanent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closure_Status_0</targetReference>
            </connector>
            <label>CLQ Temporary Closure of License Update fields</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Assigned_To_Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_To_Email_0</targetReference>
            </connector>
            <label>CLQ Update Assigned To Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_OOS_Registration_Status_when_Withdrawn_0</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdraw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration - Out of State</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registration - In-Home Aide</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Status_Withdrawn_0</targetReference>
            </connector>
            <label>CLQ Update OOS Registration Status when Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Submission_Date_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submission_Date1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submission_Date_0</targetReference>
            </connector>
            <label>CLQ Update Submission Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Transaction_Status_when_Approved_0</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Status_To_Approved_0</targetReference>
            </connector>
            <label>CLQ Update Transaction Status when Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Transaction_Status_when_Denied_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deny</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Registration_Status_and_Set_Trans_Status_To_Denied_0</targetReference>
            </connector>
            <label>CLQ Update Transaction Status when Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Transaction_Status_when_Withdrawn_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approved_by_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Recommendation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdraw</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Applicable_Transaction_for_Withdraw_At_Applicant_Req</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.RecordType.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Status_to_WAR_0</targetReference>
            </connector>
            <label>CLQ Update Transaction Status when Withdrawn</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>3263</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Program_Current_Address_to_Program_Transaction_0</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 ) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment - Center - Change of Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment - FCC - Change of Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment - ODE - Change of Location</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Program_Transaction_Update_0</targetReference>
            </connector>
            <label>CLQ_Program_Current_Address_to_Program_Transaction</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Registration_Day_Camp_Transaction_ACA_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_AccreditationVerified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Unit_1_0</targetReference>
            </connector>
            <label>CLQ_Registration - Day Camp Transaction ACA True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>4055</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Reset_SkipValidation_Flag_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Skip_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Reset_SkipValidation_Flag_Update_0</targetReference>
            </connector>
            <label>CLQ_Reset_SkipValidation_Flag</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>4391</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_SetOwnerForAnnualReport_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Application_Unit_3_0</targetReference>
            </connector>
            <label>CLQ_SetOwnerForAnnualReport</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>4847</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Program_s_Email_address_0</name>
            <conditionLogic>1 AND 2 AND 3 AND (NOT(4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Application</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_ProgTrans_Program_Email_Address__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Program_email_address_0</targetReference>
            </connector>
            <label>CLQ_Update Program&apos;s Email address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>5183</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Program_s_Name_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Name_OOS__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Program_Name_0</targetReference>
            </connector>
            <label>CLQ_Update Program&apos;s Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>5519</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Reg_Status_when_Resubmission_Complete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Resubmission_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Registration_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Resubmission_Complete_and_0</targetReference>
            </connector>
            <label>CLQ_Update Reg Status when Resubmission Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>5855</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Registration_Status_Date_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Registration_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Registration_Status_Date_0</targetReference>
            </connector>
            <label>CLQ_Update Registration Status Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>6191</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Status_Date_for_Status_Change_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Update_Transaction_Status_Date_0</targetReference>
            </connector>
            <label>CLQ_Update Status Date for Status Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>6527</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_FCC_Resident_Information_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Update FCC Resident Information</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Update_FCC_Resident_Information_Update_0</targetReference>
            </connector>
            <label>CLQ_Update_FCC_Resident_Information</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>6863</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Updates_when_Resubmission_Complete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Resubmission_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status_to_Under_Reviewer_Review</targetReference>
            </connector>
            <label>CLQ_Updates when Resubmission Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_20</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>7199</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_Camp_Initial_Application_Submitted</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 ) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application - Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renew Application - Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_Camp_IA_Submitted_OM</targetReference>
            </connector>
            <label>Day Camp Initial Application Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_21</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>7535</locationY>
        <defaultConnector>
            <targetReference>Program_Application_Decision_22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Original_Submission_Date_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submission_Date1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Submission_Date1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Submission_Date1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Original_Submission_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_Submission_Date_Field_Update</targetReference>
            </connector>
            <label>Original Submission Date Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Application_Decision_22</name>
        <label>Program Application Decision</label>
        <locationX>182</locationX>
        <locationY>7871</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PT_without_Docs_Notification</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 ) AND 5 AND ( 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Document_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Reviewer Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application - CC Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application - Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application - FCC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Application - ODE Program</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Initial Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Ongoing Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.clq_recordtypename__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Annual Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Zero_Transaction_Documents</targetReference>
            </connector>
            <label>PT without Docs Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_23</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>8207</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Resubmit_When_All_Transaction_Documents_Returned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Transaction_Docs_Returned_for_Revision__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transaction_Docs_Returned_for_Revision__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Status_to_Resubmitted</targetReference>
            </connector>
            <label>Resubmit When All Transaction Documents Returned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_24</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>8543</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_Alert_Reviewer_on_document_resubmission</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 5 OR 6 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Returned for Revision</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resubmitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing_Quality_Rating_Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality_Rating_Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ODE_Transaction_Resubmitted</targetReference>
            </connector>
            <label>SUTQ Alert Reviewer on document resubmission</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_25</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>8879</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_COO_Rated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Change of Owner Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rating Assessment Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_COO_Rated</targetReference>
            </connector>
            <label>SUTQ COO Rated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_26</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>9215</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_COO_Rating_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Change of Owner Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Rate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_COO_Denied</targetReference>
            </connector>
            <label>SUTQ COO Rating Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_27</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>9551</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_Desk_Review_Deferral</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 OR 5 ) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Change of Owner Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Expedited Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Reinstate Rating after Temporary Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deferral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outbound_Message_When_PT_in_Deferral</targetReference>
            </connector>
            <label>SUTQ Desk Review Deferral</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_28</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>9887</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_Expedited_Rated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Expedited Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rating Assessment Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_Expedited_Rated</targetReference>
            </connector>
            <label>SUTQ Expedited Rated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_29</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>10223</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_Expedited_Rating_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Expedited Registration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Rate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_Expedited_Rating_Denied</targetReference>
            </connector>
            <label>SUTQ Expedited Rating Denied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_30</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>10559</locationY>
        <defaultConnector>
            <targetReference>Program_Applicaton_Decision_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_RR_Rated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Reinstate Rating after Temporary Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rating Assessment Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_RR_Rated</targetReference>
            </connector>
            <label>SUTQ RR Rated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Applicaton_Decision_31</name>
        <label>Program Applicaton Decision</label>
        <locationX>182</locationX>
        <locationY>10895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUTQ_RR_Rating_Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.TurnOn_Drawloop_WF_Rules</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUTQ - Reinstate Rating after Temporary Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsApproved_PrgTran__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Transaction_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unable to Rate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Recommended_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SUTQ_Email_RR_Denied</targetReference>
            </connector>
            <label>SUTQ RR Rating Denied</label>
        </rules>
    </decisions>
    <interviewLabel>Program Application Immediate Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Application Immediate Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Application_Unit_1_0</name>
        <label>Get Application Unit 1</label>
        <locationX>50</locationX>
        <locationY>3719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CLQ_Assign_to_Application_Unit_1_queue_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Application_Unit_1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Application_Unit_3_0</name>
        <label>Get Application Unit 3</label>
        <locationX>50</locationX>
        <locationY>4511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetOwner_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CLQ_Application_Unit_3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Status_to_Under_Reviewer_Review</name>
        <label>Change Status to Under Reviewer Review and Resubmission Uncheck</label>
        <locationX>50</locationX>
        <locationY>6983</locationY>
        <connector>
            <targetReference>Program_Application_Decision_20</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Resubmission_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Under Reviewer Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Assign_to_Application_Unit_1_queue_0</name>
        <label>CLQ-Assign to Application Unit 1 queue</label>
        <locationX>50</locationX>
        <locationY>3839</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Application_Unit_1_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Reset_SkipValidation_Flag_Update_0</name>
        <label>CLQ_Reset_SkipValidation_Flag Update</label>
        <locationX>50</locationX>
        <locationY>4175</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Skip_Validation__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Update_FCC_Resident_Information_Update_0</name>
        <label>CLQ_Update_FCC_Resident_Information Update</label>
        <locationX>50</locationX>
        <locationY>6647</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_XPrior_Are_you_a_Foster_Parent__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Are_you_Foster_Parent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_XPrior_Foster_Children__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Foster_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_XPrior_Number_of_Residents__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Number_of_Residents__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_XPrior_Specialized_Foster_Home__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Specialized_Foster_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Update_Transaction_Status_Date_0</name>
        <label>CLQ_Update Transaction Status Date</label>
        <locationX>50</locationX>
        <locationY>6311</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Transaction_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Original_Submission_Date_Field_Update</name>
        <label>Original Submission Date Field Update</label>
        <locationX>50</locationX>
        <locationY>7655</locationY>
        <connector>
            <targetReference>Program_Application_Decision_22</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Submission_Date__c</field>
            <value>
                <elementReference>$Record.Submission_Date1__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Program_Transaction_Update_0</name>
        <label>Program_Transaction Update</label>
        <locationX>50</locationX>
        <locationY>3383</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Old_City__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_County__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_County__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_Phone_Number__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_Program_Email_Address__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Program_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_Program_Street_Address_2__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Street_Address_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_Program_Street_Address__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Street_Address_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Old_Zip_Code__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Registration_Status_and_Set_Trans_Status_To_Denied_0</name>
        <label>Registration Status and Set Trans. Status To Denied</label>
        <locationX>50</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Registration_Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Registration_Status_Withdrawn_0</name>
        <label>Registration Status Withdrawn</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Registration_Status__c</field>
            <value>
                <stringValue>Withdrawn</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Registration_Status_To_Approved</name>
        <label>Set Registration Status To Approved</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Registration_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Transaction_Status_To_Approved_0</name>
        <label>Set Transaction_Status_To_Approved</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>ODJFS_ODE_COL_Approved_OM_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Transaction_Status_to_WAR_0</name>
        <label>Set Transaction Status to WAR</label>
        <locationX>50</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Withdrawn at Applicant&apos;s Request</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>SetOwner_0</name>
        <label>SetOwner</label>
        <locationX>50</locationX>
        <locationY>4631</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Application_Unit_3_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Transaction_Status_to_Resubmitted</name>
        <label>Transaction Status to Resubmitted</label>
        <locationX>50</locationX>
        <locationY>8327</locationY>
        <connector>
            <targetReference>Program_Applicaton_Decision_24</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Transaction_Status__c</field>
            <value>
                <stringValue>Resubmitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Uncheck_Resubmission_Complete_and_0</name>
        <label>Uncheck Resubmission Complete and Update Reg Status</label>
        <locationX>50</locationX>
        <locationY>5639</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Registration_Status__c</field>
            <value>
                <stringValue>Under Reviewer Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Resubmission_Complete__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assigned_To_Email_0</name>
        <label>Update Assigned To Email</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Assigned_To_Email__c</field>
            <value>
                <elementReference>$Record.CLQ_Transaction_Assigned_To__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Closure_Status_0</name>
        <label>Update Closure Status</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Closure_Status__c</field>
            <value>
                <stringValue>Pending Processing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_email_address_0</name>
        <label>Update Program email address</label>
        <locationX>50</locationX>
        <locationY>4967</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_ProgTrans_Program_Email_Address__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.CLQ_Program_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Name_0</name>
        <label>Update Program Name</label>
        <locationX>50</locationX>
        <locationY>5303</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Program_Name_OOS__c</field>
            <value>
                <elementReference>$Record.CLQ_Program__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Registration_Status_Date_0</name>
        <label>Update Registration Status Date</label>
        <locationX>50</locationX>
        <locationY>5975</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Registration_Status_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submission_Date_0</name>
        <label>Update Submission Date</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Program_Application_Decision_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Submission_Date1__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_Application_Decision</targetReference>
        </connector>
        <object>CLQ_Program_Transaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
