force-app/main/default/flows/Program_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Total_Points_Assessed_13_ODE_Email_0</name>
        <label>Total Points Assessed_13-ODE Email</label>
        <locationX>50</locationX>
        <locationY>2807</locationY>
        <actionName>CLQ_Program__c.CLQ_Total_Points_Assessed_13_ODE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Total_Points_Assessed_13_ODJFS_Email_0</name>
        <label>Total Points Assessed_13-ODJFS Email</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <actionName>CLQ_Program__c.CLQ_Total_Points_Assessed_13_ODJFS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Total_Points_Assessed_9_ODE_Email_0</name>
        <label>Total Points Assessed_9-ODE Email</label>
        <locationX>50</locationX>
        <locationY>3479</locationY>
        <actionName>CLQ_Program__c.CLQ_Total_Points_Assessed_9_ODE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Total_Points_Assessed_9_ODJFS_Email_0</name>
        <label>Total Points Assessed_9-ODJFS Email</label>
        <locationX>50</locationX>
        <locationY>3815</locationY>
        <actionName>CLQ_Program__c.CLQ_Total_Points_Assessed_9_ODJFS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Program_Decision</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Approved_to_do_Provider_Agreement_Day_Camp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACA_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JFS_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCI_FBI_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approved_Provider_Agreement_Check</targetReference>
            </connector>
            <label>CLQ Approved to do Provider Agreement Day Camp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_ODJFS_Requirement_Met_To_No_0</name>
            <conditionLogic>1 AND 2 AND ( ( ( 3 OR 4 OR 5 ) AND ( 6 OR 7 OR 8 OR 9 OR 10 OR 11 ) ) OR (12 AND 13) )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day Camp</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACA_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JFS_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCI_FBI_Approved__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACA_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JFS_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCI_FBI_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.JFS_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ACA_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BCI_FBI_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approval_Terminated_by_ODJFS__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Approval_Terminated_by_ODJFS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Update_ODJFS_Requirement_Met_To_No_Update_0</targetReference>
            </connector>
            <label>CLQ Update ODJFS Requirement Met To No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_SUTQ_Continuous_Rated_Date_to_NULL_0</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Current_Rating__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Current_Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Current_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SUTQ_Cont_Rated_Date_to_NULL_0</targetReference>
            </connector>
            <label>CLQ Update SUTQ Continuous Rated Date to NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_SUTQ_Continuous_Rated_Date_to_Rating_Effective_Date_0</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Current_Rating__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Current_Rating__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.CLQ_Current_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SUTQ_Cont_Rated_Date_to_R_E_Dt_0</targetReference>
            </connector>
            <label>CLQ Update SUTQ Continuous Rated Date to Rating Effective Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>1679</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_License_Number_with_Program_Number_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_License_Number_0</targetReference>
            </connector>
            <label>CLQ-Update License Number with Program Number</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>2015</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Update_Program_Status_Change_Date_0</name>
            <conditionLogic>1 AND ( (2 AND 3 )  OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Program_Status_Change_Date_0</targetReference>
            </connector>
            <label>CLQ-Update Program Status Change Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>2351</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Close_Day_Camp_if_it_is_not_renewed_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>YearOfEndDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YearOfTodayMinus2</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day Camp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Update_Program_Status_0</targetReference>
            </connector>
            <label>CLQ_Close Day Camp if it is not renewed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Risk_Points_13_ODE_0</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Age Child Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Points_Assessed_13_ODE_Email_0</targetReference>
            </connector>
            <label>CLQ_Risk Points_13-ODE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Risk_Points_13_ODJFS_0</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND ( 5 OR 6 OR 7 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Care Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type A Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type B Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Points_Assessed_13_ODJFS_Email_0</targetReference>
            </connector>
            <label>CLQ_Risk Points_13-ODJFS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>3359</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Risk_Points_9_ODE_0</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR 5 ) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>13.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Age Child Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Points_Assessed_9_ODE_Email_0</targetReference>
            </connector>
            <label>CLQ_Risk Points_9-ODE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Risk_Points_9_ODJFS_0</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND ( 6 OR 7 OR 8 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>15.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SumOfNCs</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>19.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provisional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Child Care Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type A Home</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC - Type B Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Total_Points_Assessed_9_ODJFS_Email_0</targetReference>
            </connector>
            <label>CLQ_Risk Points_9-ODJFS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clear_CLQ_2_Star_Reapplying_Date_c_on_Bypass_Check_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bypass_2_Star_Reapply_Validation_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_CLQ_2_Star_Reapplying_Date_c_0</targetReference>
            </connector>
            <label>Clear CLQ_2_Star_Reapplying_Date__c on Bypass Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>4367</locationY>
        <defaultConnector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_2_star_reapply_date_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bypass_2_Star_Reapply_Validation_Rules__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rating_Expiration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_2_Star_Reapplying_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X2_Star_Rating_Field_Update_0</targetReference>
            </connector>
            <label>Update 2 star reapply date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Program Decision</label>
        <locationX>182</locationX>
        <locationY>4703</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_LSR_Manager_Email_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Licensing_Specialist__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Licensing_Specialist__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_update_LSR_Manager_Email_0</targetReference>
            </connector>
            <label>Update LSR Manager Email</label>
        </rules>
    </decisions>
    <formulas>
        <name>ReRegisterDateFormula</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Record.Rating_Expiration_Date__c} ) +4,
   MONTH({!$Record.Rating_Expiration_Date__c} ), 
   DAY({!$Record.Rating_Expiration_Date__c} ))</expression>
    </formulas>
    <formulas>
        <name>SumOfNCs</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CLQ_SRNC__c} + {!$Record.CLQ_MRNC__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>YearOfEndDate</name>
        <dataType>Number</dataType>
        <expression>Year({!$Record.CLQ_End_Date__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>YearOfTodayMinus2</name>
        <dataType>Number</dataType>
        <expression>(Year({!$Flow.CurrentDate})) -2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Program Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Program Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_CLQ_2_Star_Reapplying_Date_c_0</name>
        <label>Clear CLQ_2_Star_Reapplying_Date__c</label>
        <locationX>50</locationX>
        <locationY>4151</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_2_Star_Reapplying_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_License_Number_0</name>
        <label>CLQ_License Number</label>
        <locationX>50</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_License_Number__c</field>
            <value>
                <elementReference>$Record.CLQ_Program_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Update_ODJFS_Requirement_Met_To_No_Update_0</name>
        <label>CLQ Update ODJFS Requirement Met To No	Update</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Program_Decision_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_to_do_a_Provider_Agreement__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CLQ_Update_Program_Status_0</name>
        <label>CLQ_Update Program Status</label>
        <locationX>50</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Program_Status__c</field>
            <value>
                <stringValue>Closed by System</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Registration_Status__c</field>
            <value>
                <stringValue>Not Registered</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>To_update_LSR_Manager_Email_0</name>
        <label>To update LSR Manager Email</label>
        <locationX>50</locationX>
        <locationY>4823</locationY>
        <inputAssignments>
            <field>Reviewer_s_Manager_Email__c</field>
            <value>
                <elementReference>$Record.CLQ_Licensing_Specialist__r.Manager.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approved_Provider_Agreement_Check</name>
        <label>Update Approved Provider Agreement Check</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Program_Decision_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_to_do_a_Provider_Agreement__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Program_Status_Change_Date_0</name>
        <label>Update Program Status Change Date</label>
        <locationX>50</locationX>
        <locationY>2135</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Program_Status_Change_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SUTQ_Cont_Rated_Date_to_NULL_0</name>
        <label>Update SUTQ Cont Rated Date to NULL</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_SUTQ_Continuous_Rated_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SUTQ_Cont_Rated_Date_to_R_E_Dt_0</name>
        <label>Update SUTQ Cont Rated Date to R E Dt</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_SUTQ_Continuous_Rated_Date__c</field>
            <value>
                <elementReference>$Record.Rating_Effective_Dt__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X2_Star_Rating_Field_Update_0</name>
        <label>2 Star Rating Field Update</label>
        <locationX>50</locationX>
        <locationY>4487</locationY>
        <connector>
            <targetReference>Program_Decision_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_2_Star_Reapplying_Date__c</field>
            <value>
                <elementReference>ReRegisterDateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Program_Decision</targetReference>
        </connector>
        <object>CLQ_Program__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
