force-app/main/default/flows/Role_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Role_Decision</name>
        <label>Role Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Role_Decision_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CLQ_Admin_role_Status_and_Decision</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inactive</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CLQ_Update_Decision_on_Role_to_blank</targetReference>
            </connector>
            <label>CLQ_Admin role Status and Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Decision_0</name>
        <label>Role Decision</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Role_Decision_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nullify_Prior_Values_Role_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Program_Transaction_Source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nullify_Prior_Values_Role_Update_0</targetReference>
            </connector>
            <label>Nullify Prior Values-Role</label>
        </rules>
    </decisions>
    <decisions>
        <name>Role_Decision_0_0</name>
        <label>Role Decision</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_On_Site_Contact_Owner_to_Community_Queue_0_0</name>
            <conditionLogic>1 AND ( 2 OR 3 ) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.ExecutionControlSetting__c.Run_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CLQ_Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Alternate On Site Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Community_0</targetReference>
            </connector>
            <label>Set On Site Contact Owner to Community Queue</label>
        </rules>
    </decisions>
    <interviewLabel>Role Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Role Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Queue_Community_0</name>
        <label>Queue Community</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_for_Role_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Community</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CLQ_Update_Decision_on_Role_to_blank</name>
        <label>CLQ_Update Decision on Role to blank</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Role_Decision_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Decision__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Nullify_Prior_Values_Role_Update_0</name>
        <label>Nullify Prior Values-Role	Update</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Role_Decision_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CLQ_Prior_Age__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Contact_DOB__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_End_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Relationship__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Role__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_Prior_Start_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>CLQ_XExisting_Role__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_for_Role_0</name>
        <label>Update Owner for Role</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Queue_Community_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Role_Decision</targetReference>
        </connector>
        <object>CLQ_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
