force-app/main/default/flows/Role_OCLQS_RoleSharingCounter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>PortalSharingCounter</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Portal_Sharing_Counter__c} +1</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Role OCLQS_RoleSharingCounter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>OCLQS_SharingCounter_Update</name>
        <label>OCLQS_SharingCounter Update</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Portal_Sharing_Counter__c</field>
            <value>
                <elementReference>PortalSharingCounter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>OCLQS_SharingCounter_Update2</name>
        <label>OCLQS_SharingCounter Update 2</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Portal_Sharing_Counter__c</field>
            <value>
                <elementReference>PortalSharingCounter</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Role_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>JFS</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Recordtype_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Portal Roles</stringValue>
            </value>
        </filters>
        <object>CLQ_Role__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X0_Hours_After_Role_Role_Start_Date</name>
            <connector>
                <targetReference>OCLQS_SharingCounter_Update</targetReference>
            </connector>
            <label>0 Hours After Role: Role Start Date</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CLQ_Start_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_Day_After_Role_Role_End_Date</name>
            <connector>
                <targetReference>OCLQS_SharingCounter_Update2</targetReference>
            </connector>
            <label>1 Day After Role: Role End Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CLQ_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
