force-app/main/default/flows/Rollup_Visit_Duration_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Null_Element</name>
        <label>Null Element</label>
        <locationX>467</locationX>
        <locationY>235</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NoEventsFound</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>SubjectforEvents</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>FlowErrorsToEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>dnambardar@govconnectprod.com.gclic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignTotalDuration</name>
        <label>AssignTotalDuration</label>
        <locationX>483</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>TotalDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VisitRecord.DurationInMinutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopVisits</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Visit_Event_List_is_Not_Null</name>
        <label>Check if Visit Event List is Not Null</label>
        <locationX>179</locationX>
        <locationY>236</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitEventsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopVisits</targetReference>
            </connector>
            <label>Not Null Outcome</label>
        </rules>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VisitEventsList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_Element</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
    </decisions>
    <formulas>
        <description>To get To emails from custom label</description>
        <name>FlowErrorsToEmails</name>
        <dataType>String</dataType>
        <expression>{!$Label.FlowErrors_ToEmails}</expression>
    </formulas>
    <formulas>
        <name>NoEventsFound</name>
        <dataType>String</dataType>
        <expression>&quot;Flow Exception: No Completed Events Found for this inspection Id: &quot; + {!InspectionId} +  &quot;. Flow Name: Rollup Visit Duration Summary. &quot;  + &quot; &quot; +

&quot;No Action required. This is to notify IT team that a flow custom exception occurred. Please contact OCLQS Salesforce Admin for more details.&quot;</expression>
    </formulas>
    <formulas>
        <name>SubjectforEvents</name>
        <dataType>String</dataType>
        <expression>&quot;Flow Exception: No Completed Events are Found for this inspection Id: &quot; + {!InspectionId}</expression>
    </formulas>
    <interviewLabel>Rollup Visit Duration Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Visit Duration Summary v2.9</label>
    <loops>
        <name>LoopVisits</name>
        <label>LoopVisits</label>
        <locationX>181</locationX>
        <locationY>388</locationY>
        <assignNextValueToReference>VisitRecord</assignNextValueToReference>
        <collectionReference>VisitEventsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTotalDuration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inspection_Update_With_Total_Duration_of_Visits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_All_Visit_Events_of_Inspection</name>
        <label>Lookup All Visit Events of Inspection</label>
        <locationX>176</locationX>
        <locationY>100</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Visit_Event_List_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Event_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Visit</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Event</object>
        <outputReference>VisitEventsList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>WhatId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Inspection_Update_With_Total_Duration_of_Visits</name>
        <label>Inspection Update With Total Duration of Visits</label>
        <locationX>180</locationX>
        <locationY>556</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InspectionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLQ_Total_Duration_of_Visits__c</field>
            <value>
                <elementReference>TotalDuration</elementReference>
            </value>
        </inputAssignments>
        <object>CLQ_Inspection__c</object>
    </recordUpdates>
    <startElementReference>Lookup_All_Visit_Events_of_Inspection</startElementReference>
    <status>Active</status>
    <variables>
        <name>InspectionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TotalDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VisitEventsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>VisitRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
