force-app/main/default/flows/Rooms_Under_21_2_RollupSummary_on_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignTotalRoomCount</name>
        <label>AssignTotalRoomCount</label>
        <locationX>448</locationX>
        <locationY>198</locationY>
        <assignmentItems>
            <assignToReference>TotalRoomsCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRoomSpaceList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rooms RollupSummary on Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rooms Under 21/2 RollupSummary on Program</label>
    <loops>
        <name>LoopRoomSpaceList</name>
        <label>LoopRoomSpaceList</label>
        <locationX>236</locationX>
        <locationY>199</locationY>
        <assignNextValueToReference>RoomSpaceRecord</assignNextValueToReference>
        <collectionReference>RoomSpaceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTotalRoomCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Program_Record_With_Total_Room_Info</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_All_Rooms_Spaces</name>
        <label>Look All Rooms/Spaces</label>
        <locationX>232</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRoomSpaceList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Approved_for_under_2_1_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Currently_In_Use__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CLQ_Used_by_Under_or_Over_2_1_2__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Over</stringValue>
            </value>
        </filters>
        <object>CLQ_Room_Space__c</object>
        <outputReference>RoomSpaceList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Program_Record_With_Total_Room_Info</name>
        <label>Update Program Record With Total Room Info</label>
        <locationX>237</locationX>
        <locationY>328</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLQ_Total_of_Rooms_under_21_2__c</field>
            <value>
                <elementReference>TotalRoomsCount</elementReference>
            </value>
        </inputAssignments>
        <object>CLQ_Program__c</object>
    </recordUpdates>
    <startElementReference>Look_All_Rooms_Spaces</startElementReference>
    <status>Draft</status>
    <variables>
        <name>RoomSpaceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Room_Space__c</objectType>
    </variables>
    <variables>
        <name>RoomSpaceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Room_Space__c</objectType>
    </variables>
    <variables>
        <name>TotalRoomsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>VarProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
