force-app/main/default/flows/Rooms_RollupSummary_on_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignTotalRoomsCount</name>
        <label>AssignTotalRoomsCount</label>
        <locationX>473</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>VarTotalRooms</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRoomSpaceList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rooms RollupSummary on Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rooms RollupSummary on Program</label>
    <loops>
        <name>LoopRoomSpaceList</name>
        <label>LoopRoomSpaceList</label>
        <locationX>225</locationX>
        <locationY>209</locationY>
        <assignNextValueToReference>RoomSpaceRecord</assignNextValueToReference>
        <collectionReference>ApprovedInUseRoomSpaceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignTotalRoomsCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Program_Record_Update_with_Total_Rooms</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_Up_All_Rooms_Spaces</name>
        <label>Look Up All Rooms/Spaces</label>
        <locationX>223</locationX>
        <locationY>79</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRoomSpaceList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CLQ_Approved_Room_Space__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Currently_In_Use__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <filters>
            <field>CLQ_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramId</elementReference>
            </value>
        </filters>
        <object>CLQ_Room_Space__c</object>
        <outputReference>ApprovedInUseRoomSpaceList</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Program_Record_Update_with_Total_Rooms</name>
        <label>Program Record Update with Total Rooms</label>
        <locationX>224</locationX>
        <locationY>326</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarProgramId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CLQ_Total_of_Rooms__c</field>
            <value>
                <elementReference>VarTotalRooms</elementReference>
            </value>
        </inputAssignments>
        <object>CLQ_Program__c</object>
    </recordUpdates>
    <startElementReference>Look_Up_All_Rooms_Spaces</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ApprovedInUseRoomSpaceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Room_Space__c</objectType>
    </variables>
    <variables>
        <name>RoomSpaceRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CLQ_Room_Space__c</objectType>
    </variables>
    <variables>
        <name>TotalRooms</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarTotalRooms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
